.notfound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
}
.notfound-image {
  height: 260px;
}
.page-not-found-heading {
  color: #475569;
  margin-top: 10px;
}
.desc {
  color: #64748b;
  margin-top: 10px;
}
